@page
@model IdentityService.Pages.Account.Register.index

<div>
    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h2>Register</h2>
                </div>
                <div class="card-body">
                    Form goes here
                </div>
            </div>
        </div>
    </div>
</div>